In [9]:
import pandas as pd
import numpy as np
import os
import sys 

sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd(), '../src')))

original_file = "blindern_data_cleaning.csv"
data_path = os.path.join(os.getcwd(),"..", "data")
original_path = os.path.join(data_path, original_file)  
df = pd.read_csv(original_path, delimiter=";")

# calculate the average, median and standard deviation for each column
print(f"The average for each column is:\n{df.mean(numeric_only=True)}")
print(f"The median for each column is:\n{df.median(numeric_only=True)}")
print(f"The standard deviation for each column is:\n{df.std(numeric_only=True)}")

# calculate the seasonal average, median and standard deviation for each column
def season(dato):
    month=dato.month
    if month in [12,1,2]:
        return "Winter"
    elif month in [3,4,5]:
        return "Spring"
    elif month in [6,7,8]:
        return "Summer"
    elif month in [9,10,11]:
        return "Autumn"

df['season'] = df['Tid'].apply(season)
print(f"The average for each season is:\n{df.groupby('season').mean(numeric_only=True)}")
print(f"The median for each season is:\n{df.groupby('season').median(numeric_only=True)}")
print(f"The standard deviation for each season is:\n{df.groupby('season').std(numeric_only=True)}")

The average for each column is:
Makstemp         11.602115
Mintemp           4.153036
Middeltemp        7.617745
Snø               3.974116
Nedbør            2.423843
Middelvind        2.703982
Høye vindkast     5.564012
dtype: float64
The median for each column is:
Makstemp         11.4
Mintemp           3.6
Middeltemp        7.1
Snø               0.0
Nedbør            0.1
Middelvind        2.5
Høye vindkast     5.2
dtype: float64
The standard deviation for each column is:
Makstemp         9.050974
Mintemp          7.244604
Middeltemp       7.855064
Snø              9.927656
Nedbør           5.256624
Middelvind       1.134572
Høye vindkast    2.226089
dtype: float64

AttributeError: 'str' object has no attribute 'month'

In [ ]:
from statistics import mode
#DATES IS FUCKED, DONT COMMIT YET
#List of days with snow back to back, only those over X ammount of days.
def snowdays(grense=5):
	count=0
	snowdays=[]
	snowdays_dates=[]
	snow_period=()
	for i in range(len(df)-1):
		if df["Snø"][i] > 0:
			count += 1
		else:
			if count >= grense:                  #X ammont of days
				snowdays.append(count)
				end_date=pd.to_datetime(df["Tid"][i-1]).date()
				start_date=end_date-pd.Timedelta(days=count-1)
				snow_period=f"{start_date} --- {end_date}"
				snowdays_dates.append(snow_period)
			count=0
	print(f"Antall dager med snø etter en annen: {snowdays}")
	print(f"Typetall for antall dager med snø sammenhengende: {mode(snowdays)}\nMinste antall dager er {grense}")
	print(f"Dager med snø, datoer: {snowdays_dates}")

	
#List of days without rain back to back, only those over X ammount of days.
def drydays(grense=12):
	count=0
	no_rain_days=[]
	no_rain_dates=[]
	dry_period=()
	for i in range(len(df)-1):
		if df["Nedbør"][i] <= 0:
			count += 1
		else:
			if count >=grense:                             #X ammont of days
				no_rain_days.append(count)
				end_date=pd.to_datetime(df["Tid"][i-1]).date()
				start_date=end_date-pd.Timedelta(days=count-1)
				dry_period=f"{start_date} --- {end_date}"
				no_rain_dates.append(dry_period)
			count=0
	print(f"Antall dager med snø etter en annen: {no_rain_days}")
	print(f"Typetall for antall dager uten nedbør sammenhengende: {mode(no_rain_days)}\nMinste antall dager er {grense}")
	print (f"No rain dates: {no_rain_dates}")

snowdays(5)
drydays()

Antall dager med snø etter en annen: [10, 295, 23, 263, 9, 13, 232, 54, 24, 34, 203, 5, 12, 197, 37, 225, 16, 16, 32, 22, 257, 12, 21, 16, 252, 240, 17, 201, 26, 14, 247]
Typetall for antall dager med snø sammenhengende: 16
Minste antall dager er 5
Dager med snø, datoer: ['2014-01-01 --- 2014-01-10', '2014-02-26 --- 2014-12-17', '2015-03-03 --- 2015-03-25', '2015-03-29 --- 2015-12-16', '2015-12-19 --- 2015-12-27', '2016-02-08 --- 2016-02-20', '2016-03-18 --- 2016-11-04', '2016-11-14 --- 2017-01-06', '2017-01-10 --- 2017-02-02', '2017-03-21 --- 2017-04-23', '2017-04-26 --- 2017-11-14', '2017-11-17 --- 2017-11-21', '2017-11-24 --- 2017-12-05', '2018-04-16 --- 2018-10-29', '2018-10-31 --- 2018-12-06', '2019-03-29 --- 2019-11-08', '2019-11-13 --- 2019-11-28', '2019-12-13 --- 2019-12-28', '2019-12-30 --- 2020-01-30', '2020-02-08 --- 2020-02-29', '2020-03-09 --- 2020-11-20', '2020-11-22 --- 2020-12-03', '2020-12-05 --- 2020-12-25', '2021-02-23 --- 2021-03-10', '2021-03-23 --- 2021-11-29', '2022-03-28 --- 2022-11-22', '2022-11-24 --- 2022-12-10', '2023-04-13 --- 2023-10-30', '2023-11-03 --- 2023-11-28', '2024-03-22 --- 2024-04-04', '2024-04-07 --- 2024-12-09']
Antall dager med snø etter en annen: [17, 12, 16, 15, 12, 14, 20, 12, 17, 13, 12, 13, 21, 15]
Typetall for antall dager uten nedbør sammenhengende: 12
Minste antall dager er 12
No rain dates: ['2014-04-19 --- 2014-05-05', '2015-08-13 --- 2015-08-24', '2015-09-26 --- 2015-10-11', '2016-05-05 --- 2016-05-19', '2018-05-30 --- 2018-06-10', '2018-06-23 --- 2018-07-06', '2019-04-05 --- 2019-04-24', '2019-10-28 --- 2019-11-08', '2020-03-17 --- 2020-04-02', '2022-04-15 --- 2022-04-27', '2023-02-25 --- 2023-03-08', '2023-05-03 --- 2023-05-15', '2023-05-29 --- 2023-06-18', '2024-05-11 --- 2024-05-25']